<a href="https://colab.research.google.com/github/CrestwoodCustomSolutions/Crestwood-PythonClass/blob/main/Lesson_11_Part_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Lesson 11.09
# Lesson 11.10
import pandas as pd

sales_data_pd = pd.read_csv('/content/sample_data/california_housing_test.csv')

def double_value(x):
  return x * 2

sales_data_pd['households'].map(double_value)

sales_data_pd.transform(lambda x: x * 2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-244.10,74.74,54.0,7770.0,1322.0,3074.0,1212.0,13.2170,689400.0
1,-236.60,68.52,86.0,3020.0,620.0,1618.0,554.0,7.1980,353000.0
2,-235.62,67.56,54.0,7178.0,1014.0,2968.0,990.0,11.5868,541000.0
3,-236.72,67.64,56.0,134.0,30.0,98.0,22.0,12.2718,660000.0
4,-239.34,72.66,38.0,2482.0,488.0,1700.0,474.0,5.8750,163400.0
...,...,...,...,...,...,...,...,...,...
2995,-239.72,68.84,46.0,2900.0,1284.0,2516.0,1214.0,2.3580,450000.0
2996,-236.28,68.12,54.0,10514.0,2164.0,6992.0,2072.0,6.7812,474400.0
2997,-239.40,72.60,20.0,1912.0,402.0,1386.0,440.0,4.5790,124000.0
2998,-234.24,68.20,80.0,192.0,28.0,92.0,28.0,6.5416,325000.0
2999,-239.26,68.84,84.0,3530.0,526.0,1506.0,520.0,17.1216,1000002.0