<a href="https://colab.research.google.com/github/CrestwoodCustomSolutions/Crestwood-PythonClass/blob/main/Lesson_11_Part_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Lesson 11.14
import pandas as pd

sales_data_pd = pd.read_csv('/content/payroll.csv')
sales_data_pd.head()

,Employee No,Date,Job No,Cost Code,Hours,Earn Code,Amount,Pay Rate,Trade No,Union No,Tax Tables,Dept No,Unnamed: 12
0,102,5/27/2024,HOLIDAY1,1,8.0,REG,NaN,NaN,101.0,NaN,NaN,NaN,NaN
1,102,5/28/2024,ACCOUNTING,1,4.0,REG,NaN,NaN,101.0,NaN,NaN,NaN,NaN
2,102,5/28/2024,MARKT,1,2.0,REG,NaN,NaN,101.0,NaN,NaN,NaN,NaN
3,102,5/28/2024,OFFICE,1,2.0,REG,NaN,NaN,101.0,NaN,NaN,NaN,NaN
4,102,5/29/2024,ACCOUNTING,1,8.0,REG,NaN,NaN,101.0,NaN,NaN,NaN,NaN

In [12]:
sales_data_pd['Job No'].str.lower()

0        holiday1
1      accounting
2           markt
3          office
4      accounting
          ...
214        office
215        24-008
216        24-008
217         maint
218        office
Name: Job No, Length: 219, dtype: object