<a href="https://colab.research.google.com/github/CrestwoodCustomSolutions/Crestwood-PythonClass/blob/main/Level_11_Part_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Lesson 10.07
# Series
import pandas as pd
import polars as pl

# Pandas
simple_list = [10, 20, 30, 40, 50]

s_pandas = pd.Series(simple_list)
print(s_pandas)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
# Polars
s_polars = pl.Series("amounts", simple_list)
print(s_polars)

shape: (5,)
Series: 'amounts' [i64]
[
	10
	20
	30
	40
	50
]

In [7]:
# Pandas slice
s_pandas[0:3]

0    10
1    20
2    30
dtype: int64

In [12]:
# Polars slice
s_polars.slice(1,3,)

shape: (3,)
Series: 'amounts' [i64]
[
	20
	30
	40
]

Pandas math

In [14]:
s_pandas.sum()
s_pandas.mean()
s_pandas.median()
s_pandas.max()
s_pandas.min()

10