In [1]:
name_one = "Jack"
name_two = "Rose"
year = 1912
print(name_one + " and " + name_two + " were on the Titanic in " + str(year))

Jack and Rose were on the Titanic in 1912